menu {
  background: rgb(2, 126, 133);
  padding: 0;
  margin: 0;
}

menu ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

menu ul li a {
  display: block;
  font-weight: 400;
  font-size: large;
  color: rgb(221, 221, 221);
  text-decoration: none;
  padding: 10px 15px;
}
